---
sitemap: false
---

/*
 *
 *  Ramme
 *
 *  Designer: Taylan Tatlı
 *  WEB: http://taylantatli.me
 *
*/

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// Partials
@import "variables";
@import "normalize";
@import "site";
@import "googlefonts";
@import "elements";
@import "syntax";
@import "fontawesome";
@import "print";
